# Array of paths. Copy files from remote server to local directory.
#
# Syntax:
#     <remote-path>:<local-path>:<arguments>
#
# Available arguments:
#     retention (integer) How long they should live. Out dated files will be
#     automatically deleted.
#
# Example:
#     BACKUP_PATHS=(
#         /var/www/html/storage/:storage
#         /var/www/html/backups/:backups:retention=20
#         /var/www/html/.env:other
#     )
#
# Note: Add trailing slash for directory paths in remote path.
BACKUP_PATHS=(
)

# VPS credentials that include user and the host.
# Example: john@123.123.123.123 or use aliases in ~/.ssh/config
REMOTE_VPS_HOST=serhii

# How long your log files should live in ./logs directory?
# Note: It must be a number starting from 1.
LOG_RETENTION_DAYS=20
