# From which directory we should copy files on your VPS.
# They will be stored in ./backups directory of this project.
# Note: It should end with a slash.
SQL_BACKUPS_FROM_PATH=

# From which directory we should copy storage files from your VPS.
# Storage files are usually things that were uploaded by the server, like
# profile pictures, blog post images, etc.
# They will be stored in ./storage directory of this project.
# Note: It should end with a slash.
STORAGE_BACKUPS_FROM_PATH=

# VPS credentials that include user and the host.
# Example: john@123.123.123.123 or use aliases in ~/.ssh/config
REMOTE_VPS_HOST=

# How long your log files should live in ./logs directory?
# Note: It must be a number starting from 1.
LOG_RETENTION_DAYS=20

# How long your backup files should live in ./backups directory?
# Note: It must be a number starting from 1.
BACKUPS_RETENTION_DAYS=20
